<!DOCTYPE html>
<html>
<head>
	<title>My Template</title>

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link type="text/css" href="temp-files/css-files/bootstrap.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="temp-files/css-files/custom.css" >
		<link rel="stylesheet" type="text/css" href="temp-files/css-files/slider.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="temp-files/css-files/style.css">
          

		    
    
</head>
<body>


        <!-- =================== header starts ===================== -->

    <div class="navbar" style="background: #000"> <!-- For Dark Theme -->


   <!--    <a href="#" class = "navbar-brand"> OurWebsite.com </a>  --><!-- For Navigation brand --> 
      <button class ="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
        
        <span class="icon-bar"></span>    <!-- to show three lines of navigation button -->
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>

      </button> 
      <!-- shows navigation button when user resize window  -->

      <div>

      <ul class="nav navbar-nav navbar-right"> <!-- Navigation tabs on right side -->

        <li> <a href="#" > Home </a> </li> <!-- Home tab -->

        <li class="dropdown">  <!-- to add dropdown menu tab -->

          <a href="#" class="dropdown-toggle" data-toggle="dropdown"> 

            Courses <b class="caret"></b>  <!-- caret to show drop[down icon  -->
          </a> 

          <ul class = "dropdown-menu">
            <li> <a href="#"> Engineering Courses </a> </li>
            <li> <a href="#"> Mobile Courses </a> </li>
            <li> <a href="#"> Electronic and communication Courses </a> </li>
            <li> <a href="#"> Management Courses </a> </li>
          </ul>
        </li>
        <li> <a href="#"> Videos </a> </li>  <!-- Videos tab -->

        <li> <a href="#"> About us </a> </li> &nbsp;&nbsp;&nbsp;  <!-- About us tab -->
      </ul>
    </div>
    </div>

  <!-- =================== header ends ===================== -->


        <!-- ===================== Banner Start ================= -->
        <section class="banner" style="display: block; clear: both;">
            
          <div class="slider">
            <div class="slideshow-container">               

              <!-- Full-width images with number and caption text -->             
                  <div class="mySlides fade">                   
                        <img src="temp-files/Images/a.jpg" style="width:100%">
                        
                  </div>

                  <div class="mySlides fade">                    
                        <img src="temp-files/Images/b.jpg" style="width:100%">
                        
                  </div>

                  <div class="mySlides fade" id="image">                   
                        <img src="temp-files/Images/c.jpg" style="width:100%">
                        
                  </div>
              

              <!-- Next and previous buttons -->
                  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                  <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
            <br>

            <!-- The dots/circles -->
            <div style="text-align:center">
                  <span class="dot" onclick="currentSlide(1)"></span>
                  <span class="dot" onclick="currentSlide(2)"></span>
                  <span class="dot" onclick="currentSlide(3)"></span>
            </div> 
          </div>
        
            <div class="topnav"  >
                  <h1 class="courses"> Online Courses </h1>
                  <input type="text" placeholder="Search..">

                  <div class="search-btn"  href="#"><i class="fa fa-search" id="search"></i></div>
                  <a href="#" class="btn btn-new">Search Courses</a>
             </div> 

             
            </section>

        <!-- ==================== Banner End ============= -->



	    <!-- ================================= Content start ============================== -->
		<div class="content"> 
        	<!-- Courses Section Start -->
        	<section class="programs-list section-block">
                <div class="container">
                	<div class="heading clearfix">
                        <h1>Available Courses</h1>
                        <a href="#" class="btn btn-default">View All Courses</a>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-4">
                        	<div class="course">
                           		<div class="course-img">
                           			<img src="temp-files/Images/android.jpg" alt="" class="img-responsive">
                                </div>
                                <div class="course-detail">
                                    <a href="#" class="name">Learn Android Programming in Detail</a>
                                     <div class="price">Rs 199</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4">
                        	<div class="course">
                           		<div class="course-img">
                            		<img src="temp-files/Images/python.jpg" alt="" class="img-responsive">
								</div>
                                <div class="course-detail">
                                	<a href="#" class="name">The Ultimate Python  Programming Tutorial</a>
                                    <div class="price">Rs 99</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4">
                        	<div class="course">
                           		<div class="course-img">
                            		<img src="temp-files/Images/bigdata.jpg" alt="" class="img-responsive">
								</div>
                                <div class="course-detail">
                                	<a href="#" class="name">The Big Data Tutorial </a>
                                    <div class="price">Rs 99</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4">
                        	<div class="course">
                           		<div class="course-img">
                            		<img src="temp-files/Images/b41.jpg" alt="" class="img-responsive">
								</div>
                                <div class="course-detail">
                                	<a href="#" class="name">The Bootstrap Programming Tutorial</a>
                                    <div class="price">Rs 99</div>
                                </div>
                            </div>
                        </div>



                        <div class="col-md-3 col-sm-4">
                        	<div class="course">
                           		<div class="course-img">
                           			<img src="temp-files/Images/js.jpg" alt="" class="img-responsive">
                                </div>
                                <div class="course-detail">
                                    <a href="#" class="name">learn Java script in details</a>
                                     <div class="price">Rs 199</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4">
                        	<div class="course">
                           		<div class="course-img">
                            		<img src="temp-files/Images/ai.jpg" alt="" class="img-responsive">
								</div>
                                <div class="course-detail">
                                	<a href="#" class="name">The Artificial Intelligence tutorial</a>
                                    <div class="price">Rs 99</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4">
                        	<div class="course">
                           		<div class="course-img">
                            		<img src="temp-files/Images/html.jpg" alt="" class="img-responsive">
								</div>
                                <div class="course-detail">
                                	<a href="#" class="name">Learn HTML5 Programming From Scratch</a>
                                    <div class="price">Rs 99</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4">
                        	<div class="course">
                           		<div class="course-img">
                            		<img src="temp-files/Images/node.jpg" alt="" class="img-responsive">
								</div>
                                <div class="course-detail">
                                	<a href="#" class="name">The Node js Programming Tutorial</a>
                                    <div class="price">Rs 99</div>
                                </div>
                            </div>
                        </div>


                       
                        
                        
                        
        			</div>
        		</div>
        	</section>
        </div>


         <!-- ========================== Content end ================== -->

          <!-- ========================== Videos end ================== -->


         <section class="latest-videos section-block ">
                <div class="container">
                    <div class="heading clearfix">
                        <h1>Latest Videos</h1>
                        <a href="#" class="btn btn-default">View All Courses</a>
                    </div>
                    
                    <div class="row">
                        <div class="col-sm-4">
                          <div class="video">
                              <img src="temp-files/Images/wp.jpg" alt="" class="img-responsive">
                                <a href="#" class="play-btn"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="video">
                              <img src="temp-files/Images/java.jpg" alt="" class="img-responsive">
                                <a href="#" class="play-btn"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="video">
                              <img src="temp-files/Images/is.jpg" alt="" class="img-responsive">
                                <a href="#" class="play-btn"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </section>

          <!-- ========================== Videos end ================== -->

 <!-- ========================== Learn with us starts ================== -->

            <section class="learn section-block">
                
                    <center>
                      <font size="35px" color="#ffffff" face="ariel" style="margin-bottom: 100px;">Learn with us</font>
                    </center>

                    <div class="row">
                        <div class="col-md-3 col-sm-4">
                                <span class="icon">
                                         <img src="temp-files/Images/icon1.png" alt=""href="#">
                                </span>   
                                
                                <a class="text-learn" href="#">
                                   <h6>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</h6>
                                </a>
                                                       
                         </div>

                          <div class="col-md-3 col-sm-4">
                                <span class="icon">
                                         <img src="temp-files/Images/icon2.png" alt=""href="#">
                                </span>   
                                
                                <a class="text-learn" href="#">
                                   <h6>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</h6>
                                </a>
                                                       
                         </div>


                          <div class="col-md-3 col-sm-4">
                                <span class="icon">
                                         <img src="temp-files/Images/icon3.png" alt=""href="#">
                                </span>   
                                
                                <a class="text-learn" href="#">
                                   <h6>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</h6>
                                </a>
                                                       
                         </div>

                          <div class="col-md-3 col-sm-4">
                                <span class="icon">
                                         <img src="temp-files/Images/icon4.png" alt=""href="#">
                                </span>   
                                
                                <a class="text-learn" href="#">
                                   <h6>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</h6>
                                </a>
                                                       
                         </div>
                    </div>
                  
              </section>
 
<!-- ========================== Learn with us ends ================== -->



<!-- ================== footer starts =================== -->

    <!-- Footer -->
<footer class="page-footer font-small blue pt-4 bg-success" style="background: #000">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

          <!-- Content -->
          <h5 class="text-uppercase" style="color:  #fff;">Footer Content</h5>
          <p style="color:  #fff;">Here you can use rows and columns here to organize your footer content.</p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Links</h5>

            <ul class="list-unstyled">
              <li>
                <a href="#!">Link 1</a>
              </li>
              <li>
                <a href="#!">Link 2</a>
              </li>
              <li>
                <a href="#!">Link 3</a>
              </li>
              <li>
                <a href="#!">Link 4</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Links</h5>

            <ul class="list-unstyled">
              <li>
                <a href="#!">Link 1</a>
              </li>
              <li>
                <a href="#!">Link 2</a>
              </li>
              <li>
                <a href="#!">Link 3</a>
              </li>
              <li>
                <a href="#!">Link 4</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div style="color: #fff;" class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/"> infibeam </a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->

  <!-- ================== footer ends ==================== -->



<!-- ============ JAVA script files================================ -->

     
		    <script src="temp-files/js/slider.js"></script> <!-- Slider Js -->
		    <meta charset="utf-8"/>
		   

<!-- ================================= JAVA script files ========================================== -->

</body>
</html>